body {
  display: flex;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

#server {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  background: var(--bg-2);
}
#server-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  width: 70px;
  flex: 1;
  overflow-y: auto;
}
.server-clicky {
  cursor: pointer;
  width: 50px;
  height: 50px;
  aspect-ratio: 1 / 1;
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 2rem;
  color: var(--text-1) !important;
  background-color: var(--bg-1) !important;
  transition: border-radius 500ms;
}
.server-clicky:hover {
  border-radius: 1rem;
}
.server-clicky img {
  width: 50px;
  height: 50px;
  border-radius: 2rem;
  transition: border-radius 500ms;
}
.server-clicky img:hover {
  border-radius: 1rem;
}
#server-list::-webkit-scrollbar {
  display: none;
}
#main, #account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5vw;
  overflow: hidden;
}

#channel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 15vw;
  background-color: var(--bg-0);
}
#channel::-webkit-scrollbar-track {
  background-color: var(--bg-0);
}
#channel button {
  border: none;
  text-align: left;
  border-radius: 0.2rem;
}

#messages {
  width: 65vw;
}
#users {
  width: 15vw;
  border-left: 2px var(--bg-2) solid;
}