body {
  display: flex;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

@keyframes select-enter {
  from {left:-15px}
  to {left:-10px}
}
@keyframes select-leave {
  from {left:-10px}
  to {left:-15px}
}
#server {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  background: var(--bg-2);
}
#server-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  width: 70px;
  flex: 1;
  overflow-y: auto;
}
.server-clicky {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  aspect-ratio: 1 / 1;
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 2rem;
  color: var(--text-1) !important;
  background-color: var(--bg-1) !important;
  transition: border-radius 500ms;
  outline: none !important;
}
.server-clicky:hover, .server-clicky[selected] {
  border-radius: 1rem;
}
.server-clicky[selected]::before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: -15px;
  width: 5px;
  height: 25px;
  border-radius: 0px 1rem 1rem 0px;
  background-color: var(--blue-1);
  animation: select-enter forwards 250ms;
}
.server-clicky[selected].leaving::before {
  animation: select-leave forwards 250ms;
}
.server-clicky img {
  width: 50px;
  height: 50px;
  border-radius: 2rem;
  transition: border-radius 500ms;
}
.server-clicky img:hover, .server-clicky[selected] img {
  border-radius: 1rem;
}
.server-folder {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 2px;
  border: none;
  border-radius: 1rem;
  transition: height 500ms;
  background-color: var(--folder-color);
  overflow-y: clip;
}
.server-folder svg {
  cursor: pointer;
  width: 50px;
  height: 50px;
  aspect-ratio: 1 / 1;
}
#server-list::-webkit-scrollbar {
  display: none;
}
#main, #account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5vw;
}

#channel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 15vw;
  border-right: 2px var(--bg-2) solid;
  background-color: var(--bg-0);
}
#channel::-webkit-scrollbar-track {
  background-color: var(--bg-0);
}
#channel button {
  display: flex;
  gap: 5px;
  align-items: center;
  border: none;
  text-align: left;
  border-radius: 0.2rem;
}
#channel button span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#channel img, #channel svg {
  width: 20px;
  height: 20px;
}
#channel button[data-type="1"] img {
  border-radius: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.top {
  display: flex;
  align-items: center;
  height: 4vh;
  padding: 0px 5px;
  background-color: var(--bg-0);
  box-sizing: border-box;
}
#top-name {
  font-size: 125%;
}
#messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}
.message {
  display: flex;
  gap: 10px;
  padding: 2px 5px;
  border-radius: 1rem;
  word-break: break-word;
  white-space: break-spaces;
  transition: 250ms;
}
.message:hover {
  background-color: var(--bg-2);
}
.message .name {
  color: var(--text-0);
}
.message > img {
  height: 40px;
  border-radius: 2rem;
}
.message > span {
  display: flex;
  flex-direction: column;
}
.message-attach {
  max-width: 45%;
  max-height: fit-content;
  margin: 2px;
  border-radius: 0.25rem;
  object-fit: contain;
}
audio.message-attach {
  width: 100%;
}
div.message-attach {
  padding: 15px;
  border: 2px var(--bg-1) solid;
  border-radius: 2rem;
  background-color: var(--bg-2);
}
lottie-sticker.message-attach {
  width: 160px;
  height: 160px;
}

blockquote {
  display: unset;
  margin: 0;
  padding-left: 10px;
  border-left: 4px var(--text-2) solid;
}

.input-bar {
  display: flex;
  height: 30px;
  margin: 5px 10px;
  padding-left: 5px;
  border-radius: 2rem;
  background-color: var(--bg-2);
  box-sizing: border-box;
}
.input-bar input {
  flex: 1;
  margin: 0px;
  border: none;
  border-radius: 2rem;
}
.input-bar button {
  height: 100%;
  border: none;
  border-radius: 1rem;
  aspect-ratio: 1/1;
}

#users {
  width: 15vw;
  border-left: 2px var(--bg-2) solid;
}